[submodule "spacemacs.d/layers/journal"]
	path = spacemacs.d/layers/journal
	url = git@github.com:ruibinx/spacemacs-journal.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
  branch = develop
[submodule "doom-emacs.d"]
	path = doom-emacs.d
	url = ./doom-emacs.d
